extends layout

block content
  h1 santi8ago8

  div
      p Welcome to dynamic server IP (MyIPServer)

  each mac in machines
      div.machine
          h3 #{mac.name} &nbsp;(#{mac.id})
          div IP: #{mac.ip}
            - var lt = parseInt(time - mac.lastUpdate)
            |&nbsp;-&nbsp;#{lt}&nbsp; seconds ago
          each serv in mac.services
              div
                strong
                  a(href='#') #{mac.ip}:#{serv.port}
                |&nbsp;-&nbsp;#{serv.name}

